@model MonitoringNetCore.Controllers.NewUser

@{
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}

<div class="row row-cols-1 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form asp-aciton="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="input-group mb-3">
                        <label asp-for="Email" class="input-group-text">ایمیل:</label>
                        <input 
                            asp-for="Email"
                            class="form-control" 
                        >
                        <div class="invalid-feedback" asp-validation-for="Path"></div>
                    </div>
                    <div class="input-group mb-3">
                        <label asp-for="Password" autocomplete="new-password" class="input-group-text">رمز:</label>
                        <input 
                            asp-for="Password"
                            class="form-control" 
                        >
                        <div class="invalid-feedback" asp-validation-for="Path"></div>
                    </div>

                    <button type="submit" value="Create" class="btn btn-primary">ثبت کاربر</button>
                </form>
            </div>
        </div>
    </div>
</div>

