@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MonitoringNetCore.Domain.Entities.VideoFile

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row row-cols-1 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form asp-aciton="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="input-group mb-3">
                        <label asp-for="Path" class="input-group-text">آدرس فایل:</label>
                        <input 
                            asp-for="Path"
                            class="form-control" 
                        >
                        <div class="invalid-feedback" asp-validation-for="Path"></div>
                    </div>

                    <div class="input-group mb-3">
                        <label asp-for="UploadDate" class="input-group-text">تاریخ:</label>
                        <input asp-for="UploadDate"
                               class="form-control">
                        <div class="invalid-feedback" asp-validation-for="UploadDate"></div>
                    </div>

                    <button type="submit" value="Create" class="btn btn-primary">ثبت فیلم</button>
                </form>
            </div>
        </div>
    </div>
</div>

