@model Monitoring.Site.Domain.Entities.VideoFile

@{
    ViewBag.title = "حذف ویدئو";
    ViewBag.menuNavigation = "پیشخوان";
    ViewBag.menuItem = "حذف ویدئو";
    ViewBag.activeNavigation = "navigationDashboard";
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}



<h3>آیا این ویدئو پاک شود؟</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           آدرس
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt class = "col-sm-2">
            زمان آپلود
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UploadDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">بازگشت</a>
    </form>
</div>
