@model Monitoring.Site.Domain.Entities.VideoFile

@{
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}

<div class="row row-cols-1 row-cols-md-6 g-4">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>شناسه</th>
                            <th>تاریخ</th>
                            <th>مسیر</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#</td>
                            <td>@Model.UploadDate</td>
                            <td>@Model.Path</td>
                        </tr>
                    </tbody>
                </table>
                <a asp-aciton="Index" href="/Video" class="btn btn-outline-primary">بازگشت به لیست</a>
            </div>
        </div>
    </div>
</div>