@model MonitoringNetCore.Controllers.UploadedVideo

@{
    Layout = "~/Views/Shared/_BookLayout.cshtml";
}


<div class="row row-cols-1 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                <form asp-aciton="Upload" method="post" enctype="multipart/form-data">
                    <label asp-for="FormFile" for="formFileMultiple" class="form-label">فایل خود را انتخاب کنید:</label>
                    <input asp-for="FormFile" class="form-control" type="file" id="formFileMultiple">
                    <div asp-validation-for="FormFile" class="invalid-feedback">
                    </div>
                    <p asp-validation-summary="ModelOnly" class="text-danger"></p>
                    <button type="submit" class="mb-4 btn btn-primary">بارگذاری فیلم</button>
                </form>
                </div>
            </div>
        </div>
</div>
