@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
        <a asp-action="Index" asp-controller="Video" class="stretched-link">
        <div class="card bg-success glowcard" >
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body text-center">
                <h5 class="card-title">ویديو ها</h5>
                @* <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> *@
            </div>
            
        </div>
        </a>
    </div>
    <div class="col mb-4">
        <a asp-action="Index" asp-controller="User" class="stretched-link">
        <div class="card bg-warning glowcard" >
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body text-center">
                <h5 class="card-title">کاربران</h5>
                @* <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> *@
            </div>
            
        </div>
        </a>
    </div>
    <div class="col mb-4">
        <a asp-action="Index" asp-controller="Camera" class="stretched-link">
        <div class="card bg-primary glowcard" >
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body text-center">
                <h5 class="card-title">دوربین ها</h5>
                @* <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> *@
            </div>
            
        </div>
        </a>
    </div>
     @* <div class="col mb-4"> *@
     @*     <a asp-action="Index" asp-controller="Video" class="stretched-link"> *@
     @*     <div class="card bg-success glowcard" > *@
     @*         $1$ <img src="..." class="card-img-top" alt="..."> #1# *@
     @*         <div class="card-body"> *@
     @*             <h5 class="card-title">ویديو ها</h5> *@
     @*             $1$ <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> #1# *@
     @*         </div> *@
     @*          *@
     @*     </div> *@
     @*     </a> *@
     @* </div> *@
</div>